
.video-container {
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1;
    }

    #play-pause-button {
      position: fixed ;
      z-index: 1;
      top: 20px;
      left: 20px;
    }